/* general header style */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body background color style */
body {
    background-color: #d9dcd6;
}

/* general header style */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* header h1 "Horiseon" style */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* "SEO" in Horiseon color */
.seo {
    color: #d9dcd6;
}

/* all a elements in header color */
header a {
    color: #ffffff;
    text-decoration: none;
}

/* header navigation style */
header nav {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-top: 15px;
    margin-right: 20px;
}

/* header list inline display and margin */
header nav ul li {
    display:inline;
    margin: 0 40px;
}

/* all paragraph font size */
p {
    font-size: 16px;
}

/* hero section class style */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* search engine opt, online reputation management and social media marketing scetion style */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* class for all three stragegies style */
.accessibilty {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* images for all three strategies height */
.accessibilty img {
    max-height: 200px;
}

/* headings for all three strategies height  */
.accessibilty h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* floating image for search engine optimization and social media marketing to the left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* floating image for sonline reputation management to the right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* benefits section style */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* section class for lead generation, brand awareness and cost management size and color */
.lead-brand-cost{
    margin-bottom: 32px;
    color: #ffffff;
}

/* lead generation, brand awareness and cost management heading margin and text alignment */
.lead-brand-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* lead generation, brand awareness and cost management images style */
.lead-brand-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
